@model HappyHourTracker.Models.DrinkSpecial

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DrinkSpecial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DayOfTheWeek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DayOfTheWeek)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeOfDrink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeOfDrink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DrinkPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DrinkPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HappyHourStartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HappyHourStartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HappyHourEndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HappyHourEndTime)
        </dd>
    </dl>
</div>
<div>
    <input type="hidden" asp-for="ApplicationId" />
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
