@model HappyHourTracker.Models.Bar

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.barName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.barName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.zipcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.zipcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.atmosphere)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.atmosphere)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hoursOfOperationStartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.hoursOfOperationStartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hoursOfOperationEndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.hoursOfOperationEndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.potentialCustomers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.potentialCustomers)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
