@model HappyHourTracker.Models.Bar

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.barName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.barName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.zipcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.zipcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.atmosphere)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.atmosphere)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hoursOfOperationStartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.hoursOfOperationStartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hoursOfOperationEndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.hoursOfOperationEndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.happyHourStartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.happyHourStartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.happyHourEndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.happyHourEndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.potentialCusotmers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.potentialCusotmers)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
