@model IEnumerable<HappyHourTracker.Models.Bar>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.barName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zipcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.atmosphere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hoursOfOperationStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hoursOfOperationEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.happyHourStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.happyHourEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.potentialCusotmers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.barName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.atmosphere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hoursOfOperationStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hoursOfOperationEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.happyHourStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.happyHourEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.potentialCusotmers)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
